body{ 
		height:100vh;
		color:#efefef;
		background-color: black;
		background-image: url("../img/source.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	.withGif{
		background-image: url("../img/source.gif");
	}

	.container {
		width: 100%;
		height: 100%;
	}
	label{
		padding-top: 10px;
	}
	#file1 {
		display: none;
	}
	
	.uploader {
		width: 400px;
		height: 50px;
		font-weight: bold;
		border: 2px solid #efefef;
		border-radius: 10px;
		background:rgb(56, 56, 56, 0.9);
		color:#efefef;
		font-size: large;
		transition: 0.3s;
	}
	.uploader.butt{
		background:#082129;
		width: 200px;
	}
	.uploader.upl{
		border: 2px dashed #efefef;
		border-radius: 0;
		background-
	}
	.uploader:hover {
		border: 2px solid #efefef;
		background:none;
		
	}
	
	.selectDiv {
	    margin: auto;
	    width: 50%;
	    padding: 10px;
		text-align:center;
		margin-top: 50px;
	}
	
	.uploadDiv {
		margin: auto;
	    width: 50%;
	    padding: 20px;
		text-align:center;
	}

	.image {
		margin: auto;
	    width: 50%;
	    padding: 10px;
		text-align:center;
	}
	img{
		width: 640px;
		height: 480px;
	}
	.text-center{
		font-size: 100px;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	
